@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

/* Container */
.container {
  width: 80%;
  padding: 1rem 2rem;
  margin: 0 auto;
}

/* Horizontal Line */
hr {
  width: 91%;
  margin: 0 auto;
}

hr.card {
  position: absolute;
  width: 71%;
  border: 1px solid #dddada;
  margin-top: 8rem;
}

ul {
  list-style: none;
}

body {
  font-family: "Roboto Condensed", sans-serif;
  color: #221e1e;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: #135cfd;
}

/* Hover Effects */
.header nav ul li:hover a {
  color: #135cfd;
}

.header nav ul li:hover ul a {
  color: black;
}

.header nav ul li:hover ul a:hover {
  color: #135cfd;
}

.header .nav-2 ul li:hover a {
  color: #135cfd;
}

/* Header */
.header {
  display: flex;
  background: #fff;
  z-index: 100;
  border-bottom: 1px solid #d4e0e6;
  position: fixed;
  width: 100%;
}

/* Header Design */
.header .hpart-1 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header nav {
  padding: 0rem 0 0rem 13.5rem;
}

.header nav li {
  padding: 1.5rem 0 1.5rem 0;
}

.header nav ul {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 2rem;
}

.header .hpart-2 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header .hpart-1 img {
  height: 35px;
  width: 40px;
  margin-left: 1.5rem;
}

.header .hpart-1 h3 {
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: -0.06rem;
  padding-left: 1rem;
  line-height: 1rem;
}

.header nav ul {
  list-style: none;
}

.header .nav-2 li {
  padding: 1.5rem 0 1.5rem 1.5rem;
}

.header .nav-2 ul {
  list-style: none;
}

/* Nav Styling */
.header nav {
  border-right: solid 1px #d4e0e6;
}

.header nav ul li:last-child {
  padding-right: 2.8rem;
}

.header .talk-button {
  margin-left: 2rem;
}

.header .talk-button a {
  color: #fff;
  font-size: 0.9rem;
  font-weight: 500;
}

.header .talk-button i {
  color: #3cedb7;
  margin-left: 0.2rem;
  font-size: 1.3rem;
}

/* Dropdown */
.wrapper ul li {
  position: relative;
}

.wrapper ul ul {
  width: 100vw;
  margin-top: 1.55rem;
  position: absolute;
  left: -49.4vw;
  display: none;
  visibility: hidden;
  opacity: 0;
  text-align: left;
  background: #fff;
}

.wrapper ul ul {
  z-index: 1;
}

.wrapper ul ul li {
  margin-left: 49.4vw;
  line-height: 0.5rem;
  font-size: 1.4rem;
  margin-bottom: -1rem;
}

.wrapper ul ul li:last-child {
  padding-bottom: 3rem;
}

.wrapper ul li:hover > ul {
  display: block;
  visibility: visible;
  opacity: 1;
}

/* Caret Animation */
.header nav i {
  font-size: 0.8rem;
  transition: all 0.3s ease-in-out;
}

.header nav ul li:hover > i {
  transform: rotate(180deg);
}

/* Hamburger Menu */
.hamburger-menu {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.5rem;
  height: 2.5rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  margin-left: 2.3rem;
}

.hamburger-btn {
  width: 2rem;
  height: 2px;
  background: black;
  transition: all 0.2s ease-in-out;
}

.hamburger-btn::before,
.hamburger-btn::after {
  content: "";
  position: absolute;
  width: 2rem;
  height: 2px;
  background: black;
  transition: all 0.2s ease-in-out;
}

.hamburger-btn::before {
  transform: translateY(-6px);
}

.hamburger-btn::after {
  transform: translateY(6px);
}

/* Hamburger Menu Functionality */
.ham-menu {
  z-index: 100;
  display: none;
  visibility: hidden;
  position: absolute;
  left: -80.05vw;
  top: 3.4rem;
  width: 98.78vw;
  height: 80vh;
  background: #fff;
}

.hamburger-menu.open .ham-menu {
  display: block;
  visibility: visible;
}

.ham-menu ul {
  padding-top: 1rem;
  list-style: none;
}

/* Hamburger Animation */
.hamburger-menu.open .hamburger-btn {
  transform: translateX(-2.5rem);
  background: transparent;
}

.hamburger-menu.open .hamburger-btn::before {
  transform: rotate(45deg) translate(28.5px, -28.5px);
}

.hamburger-menu.open .hamburger-btn::after {
  transform: rotate(-45deg) translate(28.5px, 28.5px);
}

/* Hamburger Menu Element Styling */
.ham-menu .list-1 {
  padding-left: 45vw;
  font-size: 2rem;
  line-height: 2.5rem;
}

.ham-menu .list-2 li {
  padding-left: 10rem;
  padding-bottom: 2rem;
}

.ham-menu .list-2 a {
  line-height: 1.5rem;
  color: #135cfd;
  font-weight: 600;
}

.ham-menu .social-media {
  margin-top: 3rem;
  display: flex;
  text-align: center;
  gap: 3rem;
  margin-left: 40rem;
}

.ham-menu .social-media i:first-child {
  margin-left: -65vw;
}

.ham-menu .social-media p {
  margin-left: -10vw;
}

.hamburger-menu .fab {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-size: 1rem;
  width: 2rem;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  transition: all 0.2s ease-in-out;
}

.hamburger-menu .fab:hover {
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
  font-size: 1rem;
  width: 2.6rem;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  transition: all 0.2s ease-in-out;
}

/* Facebook */
.hamburger-menu .fa-facebook-f,
.hamburger-menu .fa-linkedin-in,
.hamburger-menu .fa-youtube {
  background: #135cfd;
  color: white;
}

/* Section Styling */

/* Section-1 */
.section-1 {
  height: 100vh;
  position: relative;
  background: #e1eff6;
  z-index: 0;
  overflow: hidden;
}

.section-1 .image img {
  height: 120%;
  position: absolute;
}

.section-1 .image img:nth-child(2) {
  height: 80%;
  bottom: 0;
  left: 3.8rem;
}

.section-1 .image img:first-child {
  position: absolute;
  top: -7rem;
  left: 3rem;
  z-index: -10;
}

.section-1 .image img:last-child {
  position: absolute;
  top: -4.5rem;
  left: 4.8rem;
}

.section-1 .text,
.buttons {
  padding-top: 1rem;
  padding-left: 48rem;
}

.section-1 .text h1 {
  font-size: 6rem;
  letter-spacing: -0.2rem;
  line-height: 5.5rem;
  padding-top: 6rem;
  color: #221e1e;
}

.section-1 .text p {
  position: absolute;
  font-size: 0.9rem;
  color: #3d3d3f;
  font-weight: 500;
  top: 24rem;
  right: 2.5rem;
}

/* Section-1 Buttons */
.buttons {
  display: flex;
  margin-top: 5rem;
  gap: 1rem;
}

.buttons i {
  margin-left: 0.8rem;
  color: #135cfd;
}

/* Section-2 */
.section-2 {
  padding-top: 3rem;
  color: #221e1e;
  background: #f6f9fb;
}

.section-2 img {
  margin-left: 50vw;
  width: 140px;
}

.section-2 h2 {
  padding-top: 3rem;
  font-size: 2.5rem;
  line-height: 1.1em;
  letter-spacing: -0.05rem;
  font-weight: 600;
}

/*Section-2 Carousel Styling*/
.section-2 .carousel {
  padding: 4rem 0;
  overflow-y: visible;
}

.section-2 .carousel-cell {
  width: 33%;
  height: 520px;
  margin-right: 7%;
  transform: translateX(-280px);
  cursor: pointer;
}

.flickity-page-dots {
  display: none;
}

.section-2 .carousel-caption {
  position: absolute;
  color: #221e1e;
  z-index: 1;
  top: 22rem;
}

.section-2 .carousel-caption h3 {
  font-size: 1.4rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.section-2 .carousel-caption p {
  font-size: 0.9rem;
  line-height: 1.5;
  font-weight: 500;
}

.section-2 .carousel-cell img {
  position: relative;
  left: -42.5rem;
  width: 100%;
  padding-bottom: 10rem;
}

.section-2 .carousel-btn {
  position: absolute;
  top: 19rem;
  right: 1.5rem;
  padding: 1rem 1rem;
  background: #fff;
  border-radius: 7px;
  transition: all 0.3s ease-in-out;
}

.carousel-btn:hover {
  background: #135cfd;
  color: white;
  transition: all 0.3s ease-in-out;
}

.carousel-btn i {
  padding-left: 0.3rem;
  color: #135cfd;
  transition: all 0.3s ease-in-out;
}

.carousel-btn:hover i {
  color: #3cedb7;
  transition: all 0.3s ease-in-out;
}

/* Flickity Carousel Button Styling */
.section-2 .flickity-button {
  position: absolute;
  top: -2rem;
}

.flickity-button {
  position: absolute;
  top: -5rem;
}

.previous {
  margin-left: 77vw;
}

.next {
  margin-right: 10vw;
}

/* Section-3 */
.section-3 {
  background: #f6f9fb;
  padding-bottom: 7rem;
}

.part-1,
.part-2,
.part-3 {
  display: flex;
  padding-top: 2rem;
  margin-bottom: 2rem;
}

/* Part-1 */
.part-1 {
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 2rem;
  padding-right: 10rem;
  letter-spacing: -0.1rem;
}

.part-1 h1 {
  font-size: 8rem;
}

/* Part-2 */
.part-2 {
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 2rem;
  padding-left: 30rem;
  letter-spacing: -0.1rem;
}

.part-2 h1 {
  font-size: 8rem;
}

/* Part-3 */
.part-3 {
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 2rem;
  padding-right: 25rem;
  letter-spacing: -0.1rem;
}

.part-3 h1 {
  font-size: 8rem;
}

/* VButton */
.vbtn {
  display: flex;
  position: relative;
  background: #fff;
  padding: 1.5rem 3rem;
  border-radius: 2.45rem;
  font-size: 0.9rem;
  letter-spacing: normal;
  color: #221e1e;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  box-shadow: 0 0 50px 0 rgb(0 0 0 / 10%);
}

.vbtn p {
  padding-right: 2rem;
}

.vbtn > button {
  position: absolute;
  padding: 1.6rem 1.6rem;
  background: #3cedb7;
  top: -0.01rem;
  right: 0;
  border-radius: 50%;
  border-style: none;
  cursor: pointer;
}

.vbtn i {
  color: #fff;
  font-size: 0.8rem;
}

.vbtn:hover {
  background: #135cfd;
}

.vbtn:hover i {
  font-size: 0.75rem;
}

/* Part-4 */
.part-4 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0 1rem 15.5rem;
}

.part-4 img {
  margin-top: -10rem;
}

.part-4 h2 {
  font-weight: 500;
  margin-bottom: 1.2rem;
}

.part-4 p {
  margin-bottom: 2rem;
}

/* Section-3.5 */
.section-bg {
  display: flex;
  height: 700px;
  z-index: 1;
}

.section-bg .section-content {
  display: flex;
  position: relative;
  flex-direction: column;
  background: black;
  width: 50%;
  color: #fff;
  justify-content: center;
  align-items: center;
  line-height: 1;
}

.section-content img {
  position: absolute;
  right: 11rem;
  top: 12rem;
}

.section-content .btn {
  margin-top: 2rem;
  margin-left: -20rem;
}

.section-content h1 {
  font-size: 6rem;
  letter-spacing: -0.03rem;
}

.section-bg .image {
  width: 50%;
}

.section-bg .image img {
  height: 700px;
  width: 100%;
}

/* Section-4 */
.section-4 {
  position: relative;
}

details {
  background: #fff;
  width: 100%;
  padding: 1rem 2rem;
  margin: 0 auto;
}

details > summary {
  list-style: none;
  padding: 2rem 1rem;
  margin: -1.2rem 0;
  font-weight: 500;
  cursor: pointer;
  font-size: 1.3rem;
}

summary {
  display: flex;
  justify-content: space-between;
}

summary i {
  color: #135cfd;
  transition: all 0.2s ease-in-out;
  font-size: 1.5rem;
  font-weight: 400;
}

summary:hover i {
  transform: translateX(-10px);
  color: #3cedb7;
  transition: all 0.2s ease-in-out;
}

summary > p {
  font-weight: 400;
  font-size: 1rem;
}

.content p {
  line-height: 1.3;
}

details > summary::-webkit-details-marker {
  display: none;
}

.accordion {
  background: #fff;
  width: 80%;
  margin: 0 auto;
  padding-bottom: 3rem;
  z-index: 2;
  margin-top: -5rem;
}

.section-4 .inside {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
}

.inside img {
  width: 50%;
}

.inside p {
  margin-bottom: 2rem;
}

/* Section-4.5 */
.section-bg2 {
  display: flex;
  height: 700px;
}

.section-bg2 .section-content {
  display: flex;
  position: relative;
  flex-direction: column;
  background: black;
  width: 50%;
  color: #fff;
  justify-content: center;
  align-items: center;
  line-height: 1;
}

.section-bg2 .section-content img {
  position: absolute;
  right: 17.5rem;
  top: 10rem;
  width: 100px;
}

.section-bg2 .section-content .btn {
  margin-top: 2rem;
  margin-left: -20rem;
}

.section-bg2 .section-content h1 {
  font-size: 6rem;
  letter-spacing: -0.03rem;
}

.section-bg2 .image {
  width: 50%;
}

.section-bg2 .image img {
  height: 100%;
  width: 100%;
}

/* Section-5 */
.section-5 {
  position: relative;
}

.section-5 .inside {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
}

.accordion-2 {
  background: #fff;
  width: 80%;
  margin: 0 auto;
  padding-bottom: 3rem;
  z-index: 2;
  margin-top: -5rem;
}

/* Binder(For Bg Color & Padding) */
.binder {
  background: #f6f9fb;
  padding-bottom: 8rem;
}

/* Section-6 */
.section-6 {
  margin-top: -7rem;
  color: #221e1e;
  background: #f6f9fb;
  padding-bottom: 10rem;
}

.content-2 {
  padding-bottom: 3rem;
}

.content-2 img {
  width: 140px;
  margin-left: 50vw;
}

.section-6 h2 {
  padding-top: 3rem;
  font-size: 2.5rem;
  line-height: 1.1em;
  letter-spacing: -0.05rem;
  font-weight: 600;
}

/* Section-6 Card Carousel Styling */
.section-6 .carousel-cell {
  width: 33%;
  height: 520px;
  margin-right: -5rem;
  transform: translateX(-350px);
  margin-bottom: -11rem;
}

.section-6 .carousel-cell img {
  position: relative;
  width: 50%;
  margin-top: -5rem;
}

.section-6 .carousel-cell a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.section-6 .carousel-caption {
  position: absolute;
  color: #221e1e;
  z-index: 1;
  top: 16rem;
}

.section-6 .carousel-caption small {
  font-size: 1rem;
}

.card-1,
.card-2,
.card-3,
.card-4,
.card-5,
.card-6,
.card-7,
.card-8,
.card-9,
.card-10,
.card-11,
.card-12,
.card-13,
.card-14,
.card-15 {
  height: 320px;
  background: #fff;
  margin: 0 4rem;
  left: 0;
  border-radius: 0.53333rem;
  box-shadow: 0 2px 21px 0 rgb(0 0 0 / 10%);
}

/* Section-7 */
.section-7 {
  display: flex;
  /* background: ; */
  justify-content: center;
  padding: 8rem 0;
  background: #e1eff6;
}

.section-7 .image {
  width: 50%;
  margin-right: -2rem;
  margin-left: -5rem;
}

.section-7 .image img {
  width: 80%;
}

.section-7 .text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3rem;
}

.section-7 .text h2 {
  font-size: 2.5rem;
  letter-spacing: -0.05rem;
}

/* Section-8 */
.section-8 {
  padding-top: 5rem;
  background: #f6f9fb;
  padding-bottom: 5rem;
}

.section-8 .gallery-cell {
  width: 640px;
  height: 280px;
  margin-right: 100px;
  margin-bottom: 1.5rem;
  display: flex;
  border-radius: 0.53333rem;
  box-shadow: 0 2px 21px 0 rgb(0 0 0 / 10%);
  transform: translateX(170px);
  cursor: pointer;
  background: #221e1e;
}

.section-8 .gallery-cell img {
  width: 45%;
  height: 100%;
  border-radius: 0.53333rem 0 0 0.53333rem;
  border-right: 1px solid #dddada;
  transition: all 0.3s ease-in-out;
}

.section-8 .gallery-cell:hover img {
  transition: all 0.3s ease-in-out;
  opacity: 0.75;
}

.section-8 .content-3 {
  background: #fff;
  padding-top: 2rem;
  border-radius: 0 0.53333rem 0.53333rem 0;
}

.section-8 .content-3 h2 {
  font-weight: 400;
  font-size: 1.2rem;
  padding: 0 2rem;
}

.section-8 .content-3 p {
  font-size: 0.9rem;
  padding: 0 2rem;
}

.section-8 article {
  display: flex;
  justify-content: left;
  align-items: center;
  margin-top: 6rem;
  padding-left: 1rem;
  border-top: 1px solid #dddada;
  cursor: pointer;
}

.section-8 article .icon {
  background: #3cedb7;
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  font-size: 1.2rem;
  margin-right: 1rem;
}

.section-8 article i.fa-file-alt {
  margin-left: 1.1rem;
  margin-top: 0.9rem;
}

.section-8 .primary-btn {
  margin-left: 13.5rem;
  border-left: 1px solid #dddada;
  border-radius: 0 0 0.53333rem 0;
  padding: 1.74rem 1.74rem;
}

.section-8 .gallery-cell.last {
  opacity: 0;
  box-shadow: none;
  cursor: default;
}

.section-8 .content-4 h2 {
  font-size: 2.5rem;
  letter-spacing: -0.05rem;
  padding: 2rem 0;
}

/* Section-9 */
.section-9 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: url(section-9.jpg) center center no-repeat;
}

.section-9 a {
  transition: all 0.4s ease-in-out;
}

.section-9 a:hover {
  transform: translateY(-30px);
  transition: all 0.4s ease-in-out;
}

/* Footer */
.footer {
  background: #221e1e;
  color: #fff;
  height: 100vh;
}

.footer .footer-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 0.9rem;
  padding-top: 5rem;
}

.footer .footer-content nav {
  padding-left: 5.9rem;
}

.footer .footer-content ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  gap: 2rem;
}

.footer .footer-content-2 {
  display: flex;
  justify-content: space-between;
  height: 40vh;
  font-size: 1.4rem;
}

.footer .footer-content-2 p {
  color: #a6a5a5;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  border-bottom: 2px solid #a6a5a5;
}

.footer .footer-content-2 .ft-section-1 h2 {
  font-size: 2rem;
}

.footer .footer-content-2 .ft-section-2 {
  width: 400px;
}

.footer .footer-content-2 .ft-section-3 {
  width: 200px;
}

.ft-section-2 p,
.ft-section-3 p {
  font-size: 1rem;
}

.footer a {
  color: #fff;
}

.footer a:hover {
  color: #3cedb7;
}

.footer .footer-content-3 {
  display: flex;
  align-items: center;
  margin-top: 6rem;
  border-bottom: 2px solid #a6a5a5;
  padding: 0;
  padding-bottom: 2rem;
  width: 75%;
}

.footer .footer-content-3 .footer-list {
  display: flex;
  gap: 10rem;
  justify-content: center;
  align-items: center;
}

.footer .footer-content-3 .ft-social-media {
  margin-right: 15rem;
  display: flex;
  gap: 1rem;
}

.footer form {
  display: flex;
  margin-top: 1rem;
  background: #fff;
  border-radius: 7px;
}

.footer ::placeholder {
  color: #221e1e;
}

/* Doesn't work :( */
/* .footer input.focus ::placeholder {
  color: #fff;
} */

.footer form .icon {
  background: white;
  padding: 1rem 2rem;
  border-radius: 0px 7px 7px 0px;
  cursor: pointer;
  font-size: 0.9rem;
}

.footer form i {
  color: #135cfd;
  transition: all 0.1s ease-in-out;
}

.footer form .icon:hover i {
  color: #3cedb7;
  transform: translateX(4px);
  transition: all 0.3s ease-in-out;
}

.footer input[type="email"] {
  padding: 1rem 2rem;
  border-style: none;
  border-radius: 7px 0px 0px 7px;
}

form input:focus,
form select input:focus,
form textarea:focus {
  background-color: #135cfd;
  color: #fff;
  outline: none;
}

.footer .footer-content-3 .fab {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-size: 1rem;
  width: 2rem;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  transition: all 0.2s ease-in-out;
}

.footer .footer-content-3 .fab:hover {
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
  font-size: 1rem;
  width: 2.6rem;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  transition: all 0.2s ease-in-out;
}

.footer .footer-content-3 .fa-facebook-f,
.footer .footer-content-3 .fa-linkedin-in,
.footer .footer-content-3 .fa-youtube {
  background: #fff;
  color: black;
}

.footer .footer-content-4 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #a6a5a5;
}

.footer .footer-content-4 a {
  color: #a6a5a5;
  text-decoration: underline;
}

.footer .footer-content-4 a:hover {
  color: #0e9b70;
}

/* Utility Classes */
.primary-btn {
  padding: 1rem 1rem;
  background: #fff;
  border-radius: 7px;
  border-style: none;
  box-shadow: 0 0 50px 0 rgb(0 0 0 / 10%);
  font-size: 0.9rem;
  transition: all 0.2s ease-in-out;
  width: fit-content;
  cursor: pointer;
  color: #221e1e;
}

.primary-btn:hover {
  background: #135cfd;
  color: white;
}

.primary-btn:hover i {
  color: #3cedb7;
}

.talk-button {
  padding: 0.8rem 2.7rem 0.8rem 2.7rem;
  background-color: #135cfd;
  border-radius: 8px;
  cursor: pointer;
  border-style: none;
}

.secondary-btn {
  padding: 1rem 1rem;
  background: #135cfd;
  border-radius: 7px;
  border-style: none;
  box-shadow: 0 0 50px 0 rgb(0 0 0 / 10%);
  font-size: 0.9rem;
  transition: all 0.2s ease-in-out;
  width: fit-content;
  cursor: pointer;
  color: white;
}

.secondary-btn i {
  padding-left: 0.5rem;
  color: #3cedb7;
  transition: all 0.2s ease-in-out;
}

.secondary-btn:hover {
  background: #3cedb7;
  color: black;
}

.secondary-btn:hover i {
  color: #135cfd;
  transform: translateX(2px);
  transition: all 0.2s ease-in-out;
}

.spacer {
  height: 600px;
}
